/*!--- INDEX---*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.header-content-container{
    background-image: url(Ricci-banner.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.product {
    padding: 50px 0;
    text-align: center;
}
.product h2{
    color: #111111;
    font-family: "Osvald", sans-serif ;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.productos-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.product{
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.product img{
    width: 250px;
    height: 370px;
    margin-bottom: 20px;
}
product h2{
    font-size: 20px;
    color: #111111;
    font-family: "Osvald", sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.button{
    position: relative;
    padding: 10px 20px;
    background-color: #f79236;
    border-radius: 6px;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) ;
}
.button:active{
    transform: scale(0.96);
}
.button::before,
.button::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 150%;
    border: 2px solid red ;
    background-repeat: no-repeat;
}
.button::before{
    top: -70%;
    background-image: radial-gradient(circle, #f79236 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #f79236 20%, transparent 30%),
    radial-gradient(circle, #f79236 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #f79236 15%, transparent 20%),
    radial-gradient(circle, #f79236 20%, transparent 20%),
    radial-gradient(circle, #f79236 20%, transparent 20%),
    radial-gradient(circle, #f79236 20%, transparent 20%),
    radial-gradient(circle, #f79236 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 18% 18%;
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    animation: topBubbles 0.6s ease-in-out infinite;
}
@keyframes  topBubbles {
    50%{
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    100%{
        background-size: 15% 15%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 18% 18%;
    background-position: 10% 0%, 30% 90%, 10% 90%, 15% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
}
.button::after{
    top: -70%;
    background-image: radial-gradient(circle, #f79236 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #f79236 15%, transparent 20%),
    radial-gradient(circle, #f79236 20%, transparent 20%),
    radial-gradient(circle, #f79236 20%, transparent 20%),
    radial-gradient(circle, #f79236 20%, transparent 20%),
    radial-gradient(circle, #f79236 20%, transparent 20%),
    radial-gradient(circle, #f79236 20%, transparent 20%);
}
/*!--- PRODUCTOS---*/
/*!--- QUIENES SOMOS---*/
/*!--- CONTACTO ---*/
/*!--- FOOTER ---*/
footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #CA8787;
    height: 200px;
    padding: 20px 50px;
    flex-direction: column;
}

footer .iconos,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .iconos li,
footer .menu li {
    list-style: none;
}

footer .iconos li a {
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .iconos li a:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    transition: 0.5s;
}

footer .menu li a:hover {
    opacity: 1;
}

footer p {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
    opacity: 0.75;
}