/** INDEX **/
body {
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
}

header {
    background-color: #FF9933;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
   font-size: 25px;
}

.carrito {
    position: relative;
}

#icono-carrito {
    font-size: 24px;
    cursor: pointer;
}

#cantidad-productos {
    font-size: 16px;
    color: #fff;
    background-color: #ff0000;
    padding: 2px 5px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
}

.ventana-carrito {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    padding: 1em;
    border: 1px solid #ddd;
    display: none;
}

.ventana-carrito h2 {
    margin-top: 0;
}

#lista-productos {
    list-style: none;
    padding: 0;
    margin: 0;
}

#lista-productos li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#vaciar-carrito {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#vaciar-carrito:hover {
    background-color: #3e8e41;
}

#enviar-pedido {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#enviar-pedido:hover {
    background-color: #3e8e41;
}
.banner{
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.contacto {
    background-image: url(./img/ricci-materializamos.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    padding: 20px;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociales ul {
    list-style: none;
    padding: 250;
    margin: 0;
    display: flex;
}

.redes-sociales li {
    margin-right: 20px;
}

.redes-sociales a {
    color: #FF99CC;
    padding: 25px;
    font-size: 35px;
    display: block;
}

.caja-texto {
    width: 40%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.caja-texto h2 {
    margin-top: 0;
    color: #FF9933;
}

.caja-texto textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.caja-texto button {
    background-color:  #e762a4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.caja-texto button:hover {
    background-color: #FF99CC;
}
.CATCH{
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.txt{
    background-color: #FFFFFF;

}

/** PRODUCTOS **/
/** QUIENES SOMOS**/
/** CONTACTO**/
/** CARRITO DE COMPRAS **/